{% extends 'base.html' %}

{% block titulo %}
Inicio de Sesión
{% endblock %}

{% block contenido %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="login-container">
        <h1 class="text-primary">Inicia Sesión</h1>
        <form method="post" action="/login/">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3">
                {{ form.nombre_usuario.label_tag }}
                {{ form.nombre_usuario }}
                {% if form.nombre_usuario.errors %}
                    <div class="error">{{ form.nombre_usuario.errors }}</div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.contrasenna.label_tag }}
                {{ form.contrasenna }}
                {% if form.contrasenna.errors %}
                    <div class="error">{{ form.contrasenna.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </form>
    </div>
</div>
{% endblock %}
