{% extends "base.html" %}
{%load static%}

{% block titulo %} Nosotros {% endblock %}

    {% block contenido %} 
     
    <!-- about section start  -->

    <section id="about" class="about">

        <h1 class="heading">NOSOTROS</h1>

        <div class="box-container">
            <div class="row justify-content-center">
                <!-- Misión -->
                <div class="col-md-4 mb-4">
                    <div class="card shadow-lg border-light">
                        <div class="card-body text-center">
                            <h3 class="card-title text-success">Nuestra Misión</h3>
                            <p class="card-text">Brindar atención médica integral y de calidad, garantizando bienestar y un trato personalizado para cada uno de nuestros pacientes.</p>
                        </div>
                    </div>
                </div>
    
                <!-- Visión -->
                <div class="col-md-4 mb-4">
                    <div class="card shadow-lg border-light">
                        <div class="card-body text-center">
                            <h3 class="card-title text-info">Nuestra Visión</h3>
                            <p class="card-text">Ser líderes en atención médica especializada, innovando con tecnología avanzada y ofreciendo un servicio excepcional en cada tratamiento.</p>
                        </div>
                    </div>
                </div>
    
                <!-- Valores -->
                <div class="col-md-4 mb-4">
                    <div class="card shadow-lg border-light">
                        <div class="card-body text-center">
                            <h3 class="card-title text-warning">Nuestros Valores</h3>
                            <p class="card-text">Compromiso, respeto, ética profesional y empatía hacia cada paciente, buscando siempre la excelencia en cada aspecto de nuestro trabajo.</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- start here  -->
            <div class="box">
                <!-- about images  -->
                <div class="images">
                    <img src="{% static 'core/img/about-2.png' %}" alt="">
                </div>
                
                <!-- about heading & text  -->
                <div class="content">
                    <h3>Salas acomodadas para su uso</h3>
                    <p>Para tratamientos ambulatorios, ofrecemos un servicio rápido y eficiente.</p>   
                </div>
            </div>
            <!-- end here  -->

            
            <!-- start here  -->
            <div class="box">
                <!-- about images  -->
                <div class="images">
                    <img src="{% static 'core/img/about-3.png' %}" alt="">
                </div>
                
                <!-- about heading & text  -->
                <div class="content">
                    <h3>Atención personalizada</h3>
                    <p>Para tu bienestar, con la debida confidencialidad en todos tus tratamientos.</p>  
                </div>
            </div>
            <!-- end here  -->
           </div>
    </section>

    <!-- about section end  -->
    
    <!-- card section start  -->

    <section id="doctor" class="card">

        <div class="container">

            <h1 class="heading">Nuestros Profesionales</h1>
            

            <div class="box-container">

                <!-- Empieza  aquí  -->
                <div class="box">
                    <img src="{% static 'core/img/doctor-1.jpg' %}" alt="">                
                    
                    <div class="content">
                        <a>
                            <h2>Ricardo Vidal</h2>
                        </a>
                        <p>Médico General</p>

                        <!-- card icons  -->
                        <div class="icons">
                            <a class="fab fa-facebook-f"></a>
                            <a class="fab fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <!-- end here  -->

                 <!-- start here  -->
                 <div class="box">
                    <img src="{% static 'core/img/doctor-2.jpg' %}" alt="">                
                    
                    <div class="content">
                        <a>
                            <h2>Janet Barria</h2>
                        </a>
                        <p>Ginecóloga</p>

                        <!-- card icons  -->
                        <div class="icons">
                            <a class="fab fa-facebook-f"></a>
                            <a class="fab fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <!-- end here  -->

                 <!-- start here  -->
                 <div class="box">
                    <img src="{% static 'core/img/doctor-3.jpg' %}" alt="">                
                    
                    <div class="content">
                        <a>
                            <h2>Joaquín Santis</h2>
                        </a>
                        <p>Kinesiólogo</p>

                        <!-- card icons  -->
                        <div class="icons">
                            <a class="fab fa-facebook-f"></a>
                            
                            <a class="fab fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <!-- end here  -->

            </div>
        </div>
    </section>
    <!-- card section end  -->
      {% endblock %}
   